<div class="login mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__supporting-text" id="content">
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>

@section scripts {
    <script type="text/babel" src="@Url.Content("~/Scripts/Views/Home/ForgotPassword.jsx")"></script>
}