<div class="login mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__supporting-text" id="content">
        </div>
    </div>
</div>

@section scripts {
    <script>
        var returnUrl = '@ViewBag.ReturnUrl';
    </script>
    <script src="@Url.Content("~/Scripts/Views/Home/Index.jsx")"></script>
}
