<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://crazypredictor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>crazypredictor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CrazyPredictor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$CrazyPredictor</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Predictor.Web.Models.ApplicationDbContext, Predictor.Web" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PredictorEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:zolachel.database.windows.net,1433;Initial Catalog=Predictor;User ID=zolachel@zolachel;Password=Asdfasdf99;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:zolachel.database.windows.net,1433;Initial Catalog=Predictor;User ID=zolachel@zolachel;Password=Asdfasdf99;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:zolachel.database.windows.net,1433;Initial Catalog=Predictor;User ID=zolachel@zolachel;Password=Asdfasdf99;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PredictorEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/PredictionModel.csdl|res://*/PredictionModel.ssdl|res://*/PredictionModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:zolachel.database.windows.net,1433;initial catalog=Predictor;user id=zolachel@zolachel;password=Asdfasdf99;connect timeout=30;encrypt=True;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PredictorEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/PredictionModel.csdl|res://*/PredictionModel.ssdl|res://*/PredictionModel.msl;provider=System.Data.SqlClient;provider connection string="data source=tcp:zolachel.database.windows.net,1433;initial catalog=Predictor;user id=zolachel@zolachel;password=Asdfasdf99;multipleactiveresultsets=True;connect timeout=30;encrypt=True;trustservercertificate=False;application name=EntityFramework;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>